h2 {
  text-transform: uppercase;
  margin-top: 6rem;
}

.header-with-sub {
  margin-bottom: 6rem;
}

.blurb {
  margin-bottom: 6rem;
}

.photos {
  margin-bottom: 6rem;
}

.inline-photo {
  margin-top: 6rem;
}