h2 {
  text-transform: uppercase;
  margin-top: 6rem;
  letter-spacing: 0.5rem;
  line-height: 2rem;
}

.no-margin {
  margin-top: 0rem;
}

.header-with-sub {
  margin-bottom: 6rem;
}

.blurb {
  @include breakpoint(medium) {
    font-size: 1.1rem;  
  }

  &.no-bottom {
    margin-bottom: 2rem;
  }

  font-size: 0.9rem;
  margin-bottom: 6rem;
  line-height: 2.5rem;
}


.padding-bottom {
  padding-bottom: 6rem;
}

.photos {
  &.inline {
    margin-bottom: 2rem;
  }

  margin-bottom: 6rem;
}



.inline-photo {
  margin-top: 6rem;
}