.top-bar {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: $white;

  .menu {
    @include breakpoint(medium) {
      justify-content: end;
    }
    background-color: $white;
    justify-content: center;
  }

  .menu a {
    color: $black;
    font-family: 'Average', serif;
    &:hover {
      color: #999;
    }
  }

  ul a.active {
    color: #999;
  }
}

.menu-button {
	margin-bottom: 0px;
}

.menu-logo {
  @include breakpoint(medium) {
    text-align: left;
    display: inline-block;
    margin-bottom: 0rem;
  }

  margin-bottom: 1.5rem;
  display: block;
  text-align: center;
	font-family: 'Average', serif;
  text-transform: uppercase;
	font-size: 1.2rem;
  color: black;
  &:hover {
    color: $black;
  }
}