<!--   <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
 -->

<div class="row column">

  <div class="top-bar" id="example-animated-menu">
    <div class="top-bar-left">
      <a class="menu-logo" href="index.html">Roberta Cheng</a>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a id="about" href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</div>




